body { background-color:forestgreen; }

.maroonbg A { COLOR:lightgrey; TEXT-DECORATION: none; }
.maroonbg A:hover { TEXT-DECORATION: underline; }
.maroonbginline A { COLOR:lightgrey; TEXT-DECORATION: underline; }
.maroonbginline A:hover { TEXT-DECORATION: none; }

.orangebg { COLOR:lightgrey; font-family: arial; }
.orangebg A { COLOR:lightgrey; TEXT-DECORATION: none }
.orangebg A:hover { TEXT-DECORATION: underline; }
.orangebginline { COLOR:lightgrey; font-family: arial black; }
.orangebginline A { COLOR:lightgrey; TEXT-DECORATION: underline; }
.orangebginline A:hover { TEXT-DECORATION: none; }

.titleblock { background-color:lightgrey; text-align:center; }
.titleblock { color:crimson; font-family:Arial Black; }
.titleblock A { COLOR:crimson; TEXT-DECORATION: none; }
.titleblock A:hover { TEXT-DECORATION: underline; }

.tagline p { font-style:italic; font-weight:bold; font-size:150%; text-transform:uppercase; }

.intro { text-align:center; color:lightgrey; font-style:italic; font-weight:bold; font-family:Arial; margin-top: 10px; }
.intro a { color:lightgrey; text-decoration:underline; }
.intro a:hover { text-decoration:none; }

.tdescription { text-align:center; background-color: firebrick; color:lightgrey; font-family:Arial; }
.tdescription h3 { margin-top: 10px; }
.tdescription p { margin-bottom: 10px; }
.tdescription a { color:lightgrey; text-decoration:underline; }
.tdescription a:hover { text-decoration:none; }

.description { text-align:center; color:lightgrey; font-family:Arial; }
.description a { color:lightgrey; text-decoration:underline; }
.description a:hover { text-decoration:none; }

.section { text-align:left; font-weight: bold; margin-bottom: 20px; margin-top: 25px; }
.section hr { color: lightgrey; background-color: lightgrey; height:2px; border:0px; margin-top:0px; }

.stats { text-align:center; font-size:80%; font-family:Arial; background-color: firebrick; color: lightgrey; }
.stats a { color: lightgrey; font-weight: bold;}
.stats img { margin-left: 5px; }